.jumbotron-landing-page{
    background-image: url('https://akcdn.detik.net.id/visual/2020/03/18/f871a124-3311-4432-9e05-724f286223c2_169.jpeg?w=650');
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: '20px';
}